body{
  margin: 0;
  padding: 0;
  background: #222831;
  font-family: cursive;
  width: auto;
}
/*header*/
.header{
  width: 101%;
  height: 90px;
  display: block;
  background: #21b0a2;
  margin-top: -8px;
  margin-left: -8px;
  position: fixed;
  top: 0;
  right: 0;
}
.inner_header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  margin: 0 auto;
}
.logo-container{
  height: 100%;
  display: table;
  float: left;
}
.logo-container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
}
.logo-container span{
  color: #333445;
}
.nav{
  height: 100%;
}
.nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 25px;
  padding-bottom: 1px;
}
/*new post*/
.wrap{
  display: grid;
  justify-content: center;
  position: relative;
  top: 500px;
}
.img-input{
  box-sizing: border-box;
  font-size: 50px;
  color: white;
  border-radius: 5px;
  background: #21b0a2;
  height: 60px;
  width: 1000px;
}
.textarea{
  outline: none;
  resize: none;
  height: 300px;
  width: 1000px;
  background: linear-gradient(45deg, 	#0000cc, 	#21b0a2);
  font-size: 22px;
  font-family: cursive;
  position: relative;
  top: 10px;
  border-radius: 5px;
}
.post-btn{
  background: #21b0a2;
  border: 0;
  border-radius: 5px;
  position: relative;
  top: 20px;
  height: 30px;
  font-size: 50px;
  font-family: cursive;
  width: 1000px;
  height: 100px;
}
